body {
  font-family: Arial;
  text-align: center;
  background: #0b1d3a;
  color: white;
}

.match {
  margin: 15px;
  padding: 10px;
  border: 1px solid white;
  display: inline-block;
  width: 300px;
  border-radius: 10px;
}

button {
  padding: 8px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
}
